<!DOCTYPE html>
<html lang="zxx">

<head>

  <meta charset="UTF-8">
  <meta name="description" content="Deepak Vantillu">
  <meta name="keywords" content="Deepak Vantillu, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Deepak's Vantillu</title>
  <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.16.0/firebase-analytics.js"></script>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="css/nice-select.css" type="text/css">
  <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="stylesheet" href="css/flex.css" type="text/css">
  <link rel="stylesheet" href="css/cards.css" type="text/css">
</head>


<body onload="init()">
  <header class="header">
    <!-- <div class="preNav">
        </div>-->
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="header__logo">
            <a href="#"><img src=".//abhi.png" alt=""></a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="header__menu">
            <ul>
              <li class="active"><a href="admindash.html">Home</a></li>
              <li><a href="additem.html">Add item</a></li>
              <li><a>Remove Item</a></li>
              <li><a  class="logout">LogOut</a></li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </header>
  <div class="flex-container">
    <div class="grid-row">
      
    </div>
  </div>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.slicknav.js"></script>
  <script src="/js/mixitup.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/auth.js"></script>
  <script src="/js/remove.js"></script>
  <form id="fakeform4">

  </form>
  <script>
    function init() {
      var p = <%- JSON.stringify(items1) %>;
      var keys = <%- JSON.stringify(keys) %>;
      displayi(p,keys);
    }
  </script>

</body>

</html>